<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.scss" />
  </head>
  <body>
    <div class="sidebar">
      <header class="sidebar-logo">Logo</header>
      <nav class="sidebar-nav-items">
        <ul class="nav-items-list">
          <li class="nav-item">Route 1</li>
          <li class="nav-item">Route 2</li>
          <li class="nav-item">Route 3</li>
          <li class="nav-item">Route 4</li>
          <li class="nav-item">Route 5</li>
        </ul>
      </nav>
      <footer class="sidebar-footer"></footer>
    </div>
  </body>
  <script src="index.js"></script>
</html>
